/* constanti del progetto */
:root {
  --primario: #1c1b19;
  --secondario: #292828;
  --accento: #d6ccc2;
  --selezione: #5f5f5f80;
  --testohover: rgba(0, 0, 0, 0.1);
  --testoopaco: rgba(0, 0, 0, 0.1);
}

/* FONT IMPORTATE */

/* font testo */
* {
  font-family: "Roboto", serif;
}
/* font titolo */
.titolo {
  font-family: "Hachi Maru Pop", serif;
}
/* font enfasi */
.enfasi {
  font-family: "Edu AU VIC WA NT Arrows", serif;
}

/* STILE del progetto */

*{
  transition: all 0.5s;
}

.dimimmag {
  height: 90px; /* altezza  */
  width: 350px; /* larghezza */
}

.bordo {
  border: 2px solid var(--secondario);
  color: var(--selezione);
  border-radius: 4px;
}

.scrollogiu {
  animation: scorri 2s;
}

@keyframes scorri {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scrollosu {
  animation: scorrisu 0.5s;
}

@keyframes scorrisu {
  0% {
    opacity: 0.5;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.schiarito{
  color: var(--accento);
}

.classebody {
  background-color: var(--secondario);
}

.nav-link,
.dropdown-item {
  color: var(--accento);
}
.nav-link:hover,
.dropdown-item:hover {
  color: var(--selezione);
}

.sfondonav {
  background-color: var(--secondario);
  color: var(--selezione);
}

.sfondosubmenu {
  background-color: var(--primario);
  color: var(--accento);
  border-radius: 5px;
}

.sfondofooter {
  background-color: var(--selezione);
  color: var(--accento);
}

.sfondoaccordion {
  background-color: var(--primario);
  color: var(--accento);
}

.pulsanti {
  background-color: var(--primario);
  color: var(--accento);
}

.pulsanti:hover {
  background-color: var(--accento);
  color: var(--primario);
}

.riquadroimmagini {
  width: 80%;
  max-width: 700px;
  height: auto;
}

.form-control {
  background-color: null;
}

.accordion-button:not(.collapsed) {
  background-color: var(--secondario);
  color: var(--selezione);
}

.riquadroimmagini {
  border-radius: 5px;
}

.sfondosezione {
  background-color: var(--primario);
  color: var(--accento);
}

.sfondosezione:hover {
  background-color: var(--selezione);
  color: var(--secondario);
}

.card1 {
  text-decoration: none;
  background-color: red;
}

.card2 {
  text-decoration: none;
  background-color: green;
}

.card3 {
  text-decoration: none;
  background-color: blue;
}

.card4 {
  text-decoration: none;
  background-color: yellow;
}

.text-reset {
  text-decoration: none;
}
.text-reset:hover {
  background-color: var(--testohover);
}

.opaco {
  background-color: var(--testoopaco);
}

.arrotondato {
  border-radius: 10px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  background-color: var(--primario);
  color: var(--accento);
}

.sfondoprodotti {
  background-color: var(--primario);
  color: var(--accento);
}

.internoprodotto {
  background-color: var(--secondario);
  color: var(--selezione);
}

.pulsanteDM {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 50;
}

/*! Inizio Parallasse */

.parallasse {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.93)),
    url("/media/img/imgparallasse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*! Fine Parallasse  */

.riquadrocarosello {
  background-color: var(--secondario);
  color: var(--accento);
  border-radius: 10px;
}

/*! Carosello Swiper */

.swiper {
  width: 50vh;
  height: 50vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

/*! Fine Carosello Swiper  */
